<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myeval.mapper.EvaluationsMapper">
    <sql id="Base_Colmmn_List">
        id, tname, score, content
    </sql>
    <insert id="insert" parameterType="com.myeval.entity.Evaluations">
        INSERT INTO evaluations(tname,score,content)
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tname !=null">
                #{tname},
            </if>
            <if test="score!=null">
                #{score},
            </if>
            <if test="content!=null">
                #{content},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.myeval.entity.Evaluations">
        UPDATE evaluations
        <set>
            <if test="score!=null">
               score= #{score},
            </if>
            <if test="content!=null">
                content=#{content},
            </if>
        </set>
        WHERE tname=#{tname}
    </update>
    <select id="getEvaList" resultType="com.myeval.entity.Evaluations">
        SELECT * FROM evaluations
    </select>
    <select id="getScoreList" resultType="com.myeval.entity.GroupByScore">
        SELECT * from (select count(*) a from evaluations where score&lt;70) a,
        (select count(*) b  from evaluations  where score&gt;=70 and score&lt;80) b,
        (select count(*) c  from evaluations   where score&gt;=80 and score&lt;90) c,
        (select count(*) d  from evaluations   where score&gt;=90 and score&lt;=100) d
    </select>
</mapper>
