<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhxp.web.mapper.EvaluateInfoMapper">
	<!--<resultMap id="BaseResultMap" type="com.zhxp.web.entity.EvaluateInfo">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="type" property="type" jdbcType="INTEGER"/>
		<result column="content" property="content" jdbcType="VARCHAR"/>
		<result column="score" property="score" jdbcType="INTEGER"/>
		<result column="is_use" property="isUse" jdbcType="INTEGER"/>
	</resultMap>
	<sql id="Base_Colmmn_List">
		id, type, content, score, is_use
	</sql>
    <select id="selectByType" resultMap="BaseResultMap">
		select
		    <include refid="Base_Colmmn_List"/>
		from
		    evaluate_info
		where
		    type = #{type, jdbcType=INTEGER}
	</select>

	<select id="selectByTypeAndRecordId" resultType="java.util.Map">
		select
		    ei.id  'id',
		    er.id 'resultId',
		    ei.content 'content',
		    ei.score 'score',
		    er.score 'myScore'
		from
		    evaluate_info ei left join evaluate_result er on ei.id = er.evaluate_id left join evaluate_record ere on ere.id = er.record_id
		where
		    ei.type = #{type, jdbcType=INTEGER}
		    and
		    ere.target_id = #{targetId, jdbcType=INTEGER}
		    and
		    ere.id = #{recordId, jdbcType=INTEGER}
	</select>

	<select id="selectPrimaryIdByType" resultType="java.lang.Integer">
		select
		    id
		from
		    evaluate_info
		where
		    type = #{type, jdbcType=INTEGER}
	</select>

	<select id="getCountByType" resultType="java.lang.Integer">
		SELECT
		  count(*)
		FROM
		evaluate_info
		WHERE
		   type = #{type, jdbcType=INTEGER}
		and
		   is_use = 0
	</select>-->
</mapper>
